# FOR SERVER / APP
PORT=3000
PUBLIC_PATH_PREFIX=
SESSION_SECRET=replace-me
ALLOWED_ORIGIN=http://localhost:5173
CURRENCY=TWD
WORKERS=5

# TAPPAY KEYS
PARTNER_KEY=
MERCHANT_ID=thehopedev_CTBC
TAPPAY_API=https://sandbox.tappaysdk.com/tpc/payment/pay-by-prime

# FOR APPSCRIPT
GOOGLE_SECRET=

# FOR PSQL
PGUSER=
PASSWORD=
DATABASE=

# FOR GOOGLE MAILER
GOOGLE_APP_PASSWORD=
GOOGLE_SENDER_EMAIL=
GIVING_EMAIL_BANNER_PATH=
GIVING_REPORT_URL=https://thehope.co/25report

# FOR STATS PAGE
STATS_PASSWORD=
